{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <section>
    <div class="p-3 mb-2 bg-light rounded-3"> <!-- Reduced padding to p-3 and margin to mb-2 -->
      <div class="container-fluid py-3"> <!-- Reduced padding to py-3 -->
        <h2 class="display-5 fw-bold">jsphere jobs. Get hired quickly</h2>
        <p class="col-md-8 fs-5 mt-3">
          All available jobs
        </p>
      </div>
    </div>
  </section>

  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% if jobs %}
        {% for job in jobs %}
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{job.title}}</h5>
                <p class="card-text">
                  Job location: {{job.city}}
                </p>
                <p class="card-text">
                  Posted by: {{job.company}}
                </p>
                <p class="card-text">
                  Salary: ${{job.salary|intcomma}}
                </p>
                <a class="btn btn-primary btn-sm" href="{% url 'job-details' job.pk %}">View details</a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Created at {{job.timestamp|naturaltime}}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

{% endblock content %}
